
  <h1 class="text-center">Restaurants</h1>
<div class="container">
  <div class="row">
    <% @restaurants.each do |r| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-category"><%= link_to r.name.capitalize, restaurant_path(r)%></div>
          <div class="card-description">
            <h2><%= r.category.capitalize %></h2>
            <p>Address: <%= r.address %></p>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
    </div>
  </div>
</div>

